<nav class="sticky-top py-1 mb-3 bg-light border-bottom">
  <div class="container-fluid d-flex">
    <ul class="nav me-auto">
      <li class="nav-itme">
        <a routerLink="/" class="nav-link link-dark px-2">
          <img src="assets/images/logo.png" width="24" height="24" class="rounded-circle">
        </a>
      </li>
      <ng-container *ngFor="let link of links; last as last">
        <li class="nav-item">
          <a [routerLink]="link.link" class="nav-link link-dark px-2" aria-current="page">{{ link.title }}</a>
        </li>
        <li class="nav-item nav-link link-dark px-2" *ngIf="!last"> / </li>
      </ng-container>
    </ul>

    <ul class="nav">
      <li class="nav-item">
        <a href="docs/api" target="_blank" class="nav-link link-dark px-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
          </svg>
        </a>
      </li>
      <li class="nav-item" *ngIf="userService.authenticated$ | async">
        <div ngbDropdown class="d-inline-block">
          <a id="dropdownCreate" ngbDropdownToggle role="button" class="nav-link link-dark px-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
          </a>  
          <div ngbDropdownMenu aria-labelledby="dropdownCreate">
            <a routerLink="/apps/new" ngbDropdownItem>New application</a>
            <a routerLink="/orgs/new" ngbDropdownItem>New organization</a>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="userService.authenticated$ | async">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link link-dark" id="dropdownUser" ngbDropdownToggle role="button">
            <img src="{{ user?.avatar }}" width="24" height="24" class="rounded-circle">
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownUser">
            <a routerLink="/user/profile" ngbDropdownItem>Profile</a>
            <!-- <div class="dropdown-divider"></div> -->
            <button ngbDropdownItem (click)="logout()">Log out</button>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="(userService.authenticated$ | async) === false">
        <a routerLink="/user/login" class="nav-link link-dark px-2">
          Login
        </a>
      </li>  
  </ul>
  </div>
</nav>